.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.button_default {
  background-color: #ececec;
  color: black;
}

.button_positive {
  background-color: #64c964;
  color: white;
}

.button_negative {
  background-color: #fd565f;
  color: white;
}